n8n_flows/Fraud Detection __ Recovery.json
{
  "name": "Fraud Detection // Recovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "42f0aca3-d810-41b4-95c7-e7f119f284f1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst STREAM_KEY = 'fraud:stream:webhooks';\nconst GROUP_NAME = 'workers';\nconst CONSUMER_NAME = 'recovery';\nconst MIN_IDLE_MS = 60000;\nconst MAX_CLAIM = 50;\n\nconst redis = new Redis({\n  host: 'redis',\n  port: 6379,\n  connectTimeout: 5000,\n  commandTimeout: 5000,\n  maxRetriesPerRequest: 1,\n});\n\ntry {\n  const pending = await redis.xpending(STREAM_KEY, GROUP_NAME, '-', '+', MAX_CLAIM);\n\n  if (!Array.isArray(pending) || pending.length === 0) {\n    return [{ json: { _empty: true, claimed: 0 } }];\n  }\n\n  const stale = pending.filter((p) => Number(p[2]) >= MIN_IDLE_MS);\n  if (stale.length === 0) {\n    return [{ json: { _empty: true, claimed: 0 } }];\n  }\n\n  const ids = stale.map((p) => p[0]);\n\n  const claimed = await redis.xclaim(\n    STREAM_KEY,\n    GROUP_NAME,\n    CONSUMER_NAME,\n    MIN_IDLE_MS,\n    ...ids,\n  );\n\n  if (!Array.isArray(claimed) || claimed.length === 0) {\n    return [{ json: { _empty: true, claimed: 0 } }];\n  }\n\n  const messages = claimed.map(([msgId, fields]) => {\n    const obj = {};\n    for (let i = 0; i < fields.length; i += 2) obj[fields[i]] = fields[i + 1];\n    return {\n      msg_id: msgId,\n      request_id: obj.request_id,\n      enqueued_at: obj.enqueued_at,\n      payload: JSON.parse(obj.payload),\n      _dequeued_at: Date.now(),\n      _from_recovery: true,\n    };\n  });\n\n  const pipeline = redis.pipeline();\n  for (const m of messages) {\n    pipeline.setex(`fraud:dq:${m.request_id}`, 120, String(m._dequeued_at));\n  }\n  await pipeline.exec();\n\n  return messages.map((m) => ({ json: m }));\n} finally {\n  await redis.quit();\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "40fa7bb9-8e3a-4b82-8830-387b2e84cfec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e2243c6-0517-4e41-bebf-0ef994f5dffb",
              "leftValue": "={{ $json._empty }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "e2256b56-59ce-407b-b3e7-bbeb2e77aee1",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qY5zMrzHsefKXoBX",
          "mode": "list",
          "cachedResultUrl": "/workflow/qY5zMrzHsefKXoBX",
          "cachedResultName": "Fraud Detection // Process Batch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msg_id": "={{ $json.msg_id }}",
            "request_id": "={{ $json.request_id }}",
            "payload": "={{ $json.payload }}",
            "enqueued_at": "={{ $json.enqueued_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msg_id",
              "displayName": "msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "enqueued_at",
              "displayName": "enqueued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        -112
      ],
      "id": "0f33c459-c245-4b61-beb3-25d2f8870341",
      "name": "Call 'Fraud Detection // Process Batch'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Fraud Detection // Process Batch'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f102310e-8cbd-4e26-8d5c-03978d8d0656",
  "meta": {
    "instanceId": "2f246882be91b80e2c29395d0dfa883349220f620aa202572208b75e22e3dcd9"
  },
  "id": "crXrlpdbfStL9ORD",
  "tags": []
}