n8n_flows/Fraud Detection __ Worker.json
{
  "name": "Fraud Detection // Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f5d8c053-da80-4712-906e-6726ac3e9d87",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst CONSUMER_NAME = $env.WORKER_NAME || `worker-${Date.now().toString(36)}`;\nconst STREAM_KEY = 'fraud:stream:webhooks';\nconst GROUP_NAME = 'workers';\nconst BATCH_SIZE = 50;\n\nconst redis = new Redis({\n  host: 'redis',\n  port: 6379,\n  connectTimeout: 5000,\n  commandTimeout: 5000,\n  maxRetriesPerRequest: 1,\n});\n\ntry {\n  // No BLOCK\n  const result = await redis.xreadgroup(\n    'GROUP', GROUP_NAME, CONSUMER_NAME,\n    'COUNT', BATCH_SIZE,\n    'STREAMS', STREAM_KEY, '>',\n  );\n\n  if (!result) {\n    return [{ json: { _empty: true, messages: [] } }];\n  }\n\n  const [, entries] = result[0];\n\n  const messages = entries.map(([msgId, fields]) => {\n    const obj = {};\n    for (let i = 0; i < fields.length; i += 2) {\n      obj[fields[i]] = fields[i + 1];\n    }\n    return {\n      msg_id: msgId,\n      request_id: obj.request_id,\n      enqueued_at: obj.enqueued_at,\n      payload: JSON.parse(obj.payload),\n      _dequeued_at: Date.now(),\n    };\n  });\n\n  // пишимо _dequeued_at в Redis по fraud:dq:{request_id}\n  // можна окресою нативною нодою redis\n  const pipeline = redis.pipeline();\n  for (const m of messages) {\n    pipeline.setex(`fraud:dq:${m.request_id}`, 120, String(m._dequeued_at));\n  }\n  await pipeline.exec();\n\n  return messages.map((m) => ({ json: m }));\n} finally {\n  await redis.quit();\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "6a364f5c-606e-47de-aa21-f3b9fa66641c",
      "name": "pull batch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69c612bf-f9d3-4d2a-8c86-c5e76b073b18",
              "leftValue": "={{ $json._empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "652e19c2-368e-465f-8610-52d04c562f18",
      "name": "if not empty"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qY5zMrzHsefKXoBX",
          "mode": "list",
          "cachedResultUrl": "/workflow/qY5zMrzHsefKXoBX",
          "cachedResultName": "Fraud Detection // Process Batch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msg_id": "={{ $json.msg_id }}",
            "payload": "={{ $json.payload }}",
            "enqueued_at": "={{ $json.enqueued_at }}",
            "request_id": "={{ $json.request_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msg_id",
              "displayName": "msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "enqueued_at",
              "displayName": "enqueued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        -16
      ],
      "id": "1056db72-1b2c-4688-a276-ee101897fb19",
      "name": "Call 'Fraud Detection // Process Batch'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "pull batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pull batch": {
      "main": [
        [
          {
            "node": "if not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if not empty": {
      "main": [
        [
          {
            "node": "Call 'Fraud Detection // Process Batch'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "550350ff-97c4-4697-be7c-cec554844d22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f246882be91b80e2c29395d0dfa883349220f620aa202572208b75e22e3dcd9"
  },
  "id": "6Yb8W5MIjJEUyYbh",
  "tags": [
    {
      "updatedAt": "2026-05-02T17:31:09.895Z",
      "createdAt": "2026-05-02T17:31:09.895Z",
      "id": "b3zPNDTvGOYLUTaS",
      "name": "fraude-detection"
    },
    {
      "updatedAt": "2026-05-01T16:17:24.768Z",
      "createdAt": "2026-05-01T16:17:24.768Z",
      "id": "7QtZ0qLSprKQ6lad",
      "name": "stage"
    }
  ]
}